/*styling header open close button*/
$button-path: '../../assets/images/svg/buttons/';
$button-svg-color: #fff;
$button-svg-hover: #F5B5B3;
$btn-bg-default-color: #122631;

.button {
    display:inline;
    top:6px;
    z-index:999;
    font-size:50px;
}

.btn-primary {
    background-color: #4cc0ff;
}

.btn-primary:hover {
    background-color: #8cd6fe;
}

.btn-secondary:hover {
    background-color: $button-svg-hover;
}

.button a {
    text-decoration:none;
}

.btn-open {

    &:after {
        content: 'menu';
        text-indent: -9999px;
        mask: url('#{$button-path}ic_menu_black.svg') center no-repeat;
        background-color: $button-svg-color;
        display: inline-block;
        width: 75px;
        transition-property: all .2s linear 0s;
    }

    &:hover:after {
        background-color: $button-svg-hover;
    }
}

.btn-close {

    &:after {
        content:"close";
        text-indent: -9999px;
        mask: url('#{$button-path}ic_close_black.svg') center no-repeat;
        background-color: $button-svg-color;
        display: inline-block;
        width: 75px;
        transition-property:all .2s linear 0s;
    }

    &:hover:after {
        background-color: $button-svg-hover;
    }
}

.btn {
    cursor: pointer;
    //background-color: white;
    max-width: 50px;
    text-indent: -9999px; 
}

.control-panel {
    width: 100%;
    padding: 4% 8%;

    @media (max-width: 991px) {
        padding: 2% 5%;
    }  
    
    @media (max-width: 736px) {
        padding: 2% 5%;
    }

    @media (max-width: 575px) {
        padding: 1% 8%;
        max-height: 33px;

        .btn-icon {
            max-width: 20px;
            max-height: 20px;            
        }
    }             
}

.input-group-addon {
    border: 1px solid #ced4da; 
}

.btn-play {
    mask: url('../../assets/images/svg/buttons/ic_play_arrow_black.svg') center no-repeat;
    -webkit-mask: url('../../assets/images/svg/buttons/ic_play_arrow_black.svg') center no-repeat;
}

.btn-rw {
    mask: url('../../assets/images/svg/buttons/ic_fast_rewind_black.svg') center no-repeat;
    -webkit-mask: url('../../assets/images/svg/buttons/ic_fast_rewind_black.svg') center no-repeat;
}

.btn-fw {
    mask: url('../../assets/images/svg/buttons/ic_fast_forward_black.svg') center no-repeat;
    -webkit-mask: url('../../assets/images/svg/buttons/ic_fast_forward_black.svg') center no-repeat;   
}

.btn-mute {
    mask: url('../../assets/images/svg/buttons/ic_volume_off_black.svg') center no-repeat;
    -webkit-mask: url('../../assets/images/svg/buttons/ic_volume_off_black.svg') center no-repeat;     
}

.btn-cast {
    mask: url('../../assets/images/svg/buttons/ic_cast_black.svg') center no-repeat;
    -webkit-mask: url('../../assets/images/svg/buttons/ic_cast_black.svg') center no-repeat;
}

.play-active {
    mask: url('../../assets/images/svg/buttons/ic_pause_black.svg') center no-repeat;
    -webkit-mask: url('../../assets/images/svg/buttons/ic_pause_black.svg') center no-repeat;
}

.mute-active {
    mask: url('../../assets/images/svg/buttons/ic_volume_up_black.svg') center no-repeat;
    -webkit-mask: url('../../assets/images/svg/buttons/ic_volume_up_black.svg') center no-repeat;
}

.btn-send {
    mask: url('../../assets/images/svg/buttons/ic_send_black.svg') center no-repeat;
    -webkit-mask: url('../../assets/images/svg/buttons/ic_send_black.svg') center no-repeat;
}

.svg-icon {
    width: 45px;
    height: 45px;
}

.facebook {
    mask: url('../../assets/images/sprites/fb.svg') center no-repeat;
    -webkit-mask: url('../../assets/images/sprites/fb.svg') center no-repeat;
}

.instagram {
    mask: url('../../assets/images/sprites/in.svg') center no-repeat;
    -webkit-mask: url('../../assets/images/sprites/in.svg') center no-repeat;
}


.btn-edit {
    mask: url('../../assets/images/svg/buttons/ic_create_black.svg') center no-repeat;
    -webkit-mask: url('../../assets/images/svg/buttons/ic_create_black.svg') center no-repeat;
}

.btn-add {
    mask: url('../../assets/images/svg/buttons/add_circle_black.svg') center no-repeat;
    -webkit-mask: url('../../assets/images/svg/buttons/add_circle_black.svg') center no-repeat;
}

.btn-clear {
    mask: url('../../assets/images/svg/buttons/ic_clear_black.svg') center no-repeat;
    -webkit-mask: url('../../assets/images/svg/buttons/ic_clear_black.svg') center no-repeat;
}

.btn-arrow-r {
    span {
        mask: url('../../assets/images/svg/buttons/ic_arrow_right_black.svg') center no-repeat;
        -webkit-mask: url('../../assets/images/svg/buttons/ic_arrow_right_black.svg') center no-repeat;
    }
}

.btn-arrow-l {
    span {    
        mask: url('../../assets/images/svg/buttons/ic_arrow_left_black.svg') center no-repeat;
        -webkit-mask: url('../../assets/images/svg/buttons/ic_arrow_left_black.svg') center no-repeat;
    }    
}

.btn-arrow-d {
    span {    
        mask: url('../../assets/images/svg/buttons/ic_arrow_down_black.svg') center no-repeat;
        -webkit-mask: url('../../assets/images/svg/buttons/ic_arrow_down_black.svg') center no-repeat;
    }    
}

/* The arrow-button-maker */

@mixin arrow-button($color, $background, $shadow, $font-size, $width, $height, $direction) {  
  background: none;
  border: 0;
  font-size: $font-size;
  line-height: $height;
  position: relative;
  width: $width;
  height: $height;
  
  @if $direction == "up" {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }  @else if $direction == "down" {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  a {
    color: $color;
    text-decoration: none;
    position: relative;
    z-index: 10;
  }
  
  &::before,
  &::after {
    background: $background;
    border-radius: 2px;
    content: '';
    display: block;
    position: absolute;
      left: 0;
      right: 0;
    -webkit-transition: all 1s;
    transition: all 1s;
    height: $height/2;
  }
  

  &::before {
    -webkit-box-shadow: -4px 1px 0 $shadow, -4px -3px 0 $shadow, 4px -3px 0 $shadow, 4px 2px 0 $shadow;
    box-shadow: -4px 1px 0 $shadow, -4px -3px 0 $shadow, 4px -3px 0 $shadow, 4px 2px 0 $shadow;
    -webkit-transform: skew(45deg);
    transform: skew(45deg);
    @if $direction == "left" { bottom: 0; z-index: 1 }
    @else { top: 0; }
  }

  &::after {
    -webkit-box-shadow: -4px 0px 0 $shadow, 6px 3px 0 $shadow,-4px 3px 0 $shadow, 6px 1px 0 $shadow;
    box-shadow: -4px 0px 0 $shadow, 6px 3px 0 $shadow,-4px 3px 0 $shadow, 6px 1px 0 $shadow;
    -webkit-transform: skew(-45deg);   
    transform: skew(-45deg);
    @if $direction == "left" { top: 0;}
    @else { bottom: 0; }
  }
  
  &:hover::before,
  &:hover::after {
    background: lighten($background,15%);
  }
  
  &:focus {
      &::before,
      &::after {
        background: lighten($background,15%);
      }
      outline: 0;
  }
}

/* Arrow Customise */
.btn-right {
  @include arrow-button(#fff, $btn-bg-default-color, #fff, 20px, 10em, 2em, right);
  &:hover {
    //animation: zoom 2s;
  }
}

/* Animations */

@keyframes zoom {
    25% {
        transform: scale3d(1.5,1.5,0);
        -webkit-transform: scale3d(1.5,1.5,0);
    }
    50% {
        transform: scale3d(1,1,0);
        -webkit-transform: scale3d(1,1,0);
    }
    75% {
        transform: scale3d(1.25, 1.25, 0);
        -webkit-transform: scale3d(1.25, 1.25, 0);
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@keyframes pulse {
    0% {background-color: $btn-bg-default-color;}
    50% {background-color: #4cc0ff;} 
    100% {background-color: $btn-bg-default-color;}
}

@keyframes gradientPulse-top {
    0% {background-color: $btn-bg-default-color;}
    50% {background-color: #ba9b9b;}
    100% {background-color: $btn-bg-default-color;}
}

@keyframes eyecatcher {
    0% {
        color: #fff;
        border-color: rgba(0, 0, 0, 0);
    }
    50% {
        color: #F5B5B3;
        border-color: #fff;
    }
    100% {
        color: #fff;
        border-color: rgba(0, 0, 0, 0);
    }
}

@keyframes breathing {
  0% {
    transform: scale(0.8) rotate(45deg);
    -webkit-transform: scale(0.8) rotate(45deg);
  }

  35% {
    transform: scale(1) rotate(45deg);
    -webkit-transform: scale(1) rotate(45deg);
  }

  65% {
    transform: scale(0.9) rotate(45deg);
    -webkit-transform: scale(0.9) rotate(45deg);
  }

  100% {
    transform: scale(0.8) rotate(45deg);
    -webkit-transform: scale(0.8) rotate(45deg);
  }
}

@keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
        -webkit-transform: scale3d(.3, .3, .3);
    }

    20% {
        transform: scale3d(1.1, 1.1, 1.1);
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        transform: scale3d(.9, .9, .9);
        -webkit-transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        transform: scale3d(.97, .97, .97);
        -webkit-transform: scale3d(.97, .97, .97);
    }

    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
        -webkit-transform: scale3d(1, 1, 1);
    }
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown_line {
  from {
    transform: translate3d(0, -30%, 0);
    -webkit-transform: translate3d(0, -30%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown_line-fix {
  from {
    transform: translate3d(0, -40%, 0);
    -webkit-transform: translate3d(0, -40%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
}