$background-default-color: #122631;
$bg-svg-img-path: '../../assets/images/svg/';
$bg-png-img-path: '../../assets/images/png/';

body {
	background-color: $background-default-color;
    margin: 0;
}

ul {
    list-style: none;
}

.row {
    position: relative;
}

.navbar {
    background: linear-gradient(top, rgba(18,38,49,0.8) 0%,rgba(18,38,49,0) 100%);
    padding: 0.5rem 2.25rem;
    @media (max-width: 575px) {
        padding: 0.50rem 1.75rem;        
    }
}

a.navbar-brand {
    text-align: left;
    height: 6vh;
    width: 195px;
    text-indent: -9999px;
    -webkit-mask: url('#{$bg-svg-img-path}balloon_typeLogo.svg') center no-repeat;
    mask: url('#{$bg-svg-img-path}balloon_typeLogo.svg') no-repeat;
    background-color: white;
    margin: 0rem;

    &:hover {
        //background-color: #F5B5B3;
        background: -webkit-linear-gradient(top, #fbeacc 50%,#f2c9c9 100%);
        animation: bounceIn 1s;
    }

     &:active {
        //background-color: #F5B5B3;
        animation: bounceIn 1s;
    }   

    @media (max-width: 575px) {
        width: 165px;   
    }    
}

/*overlay*/
.overlay {
    overflow: auto;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: $background-default-color;
    z-index: 99;
}

.wrap {
    text-align: center;

    ul.wrap-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        height: 100vh;
        padding: 0;

        li {
            a {
                display:block;
                padding:8px 0;
                text-decoration:none;
                transition-property:all .2s linear 0s;
                transition:all .2s linear 0s;

                &:hover {
                    color:#F5B5B3;
                }
            }            
        }
        ul {
            padding:20px 0;
            li {
                display:block;
                font-size:24px;
                width:100%;

                a {
                    color:#fff;
                    position: relative;                  
                    &:hover {
                        color:#F5B5B3;
                        &:before,
                        &:after {
                            content: '';
                            background: #CCC;
                            width: 6em;
                            display: block;
                            position: absolute;
                            height: 2px;
                            top: 1.0em;
                        }                        
                    }
                    &:before {
                        left: -100%;
                    }
                    &:after {
                        right: -100%;
                    }
                }                
            }            
        }        
    }
}

.active {
    color: #FBEACC !important;
    &:before,
    &:after {
        content: '';
        background: #c1b59e;
        width: 6em;
        display: block;
        position: absolute;
        height: 2px;
        top: 1.0em;
    }
    &:before {
        left: -10em;
    }
    &:after {
        right: -10em;
    }         
}

.nav_circle {
    color: #fff;
    width: 2rem;
    border: 0.25rem solid #fff;
    height: 2rem;
    border-radius: 50%;
    bottom: 25%;
    left: 50%;
    margin-left: -1rem;
    position: absolute;
    background: $background-default-color;
    z-index: 1;

    @media (max-width: 575px) {
        bottom: 10%;
    }     
}

.nav_stripe {
    border-left: 5px solid white;
    height: 25%;
    position: absolute;
    left: 50%;
    margin-left: -2px;
    bottom: 0em;

    @media (max-width: 575px) {
        height: 10%;
    }          
}

#hero { 
    height: 100vh;
    max-height: 100vw;
    background: url('#{$bg-png-img-path}BB_skyline.png') center center no-repeat;
    background-size: 115vw;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;    

    @media (max-width: 1199px) { 
        max-height: 200vw;
        background-size: 200vw;
    }

    @media (max-width: 991px) {
        max-height: 200vw;
        background-size: 225vw;
    }

    @media (max-width: 575px) {
        max-height: 300vw;
        background-size: 335vw;
    }

    div {
        position: absolute;
        font-size: 24px;
        bottom: 2rem;
        color: white;

        a {
            color: #fff;
            text-decoration: none;           
        }       
    }

    .nav_arrow {
        animation: breathing 7s ease-out infinite normal;
        border: solid white;
        border-width: 0 5px 5px 0;
        display: inline-block;
        padding: 20px;
        transform: rotate(45deg);
        position: absolute;
        left: 50%;
        margin-left: -22px;

        @media (max-width: 736px) {
            margin-left: -22px;
        }        
    }

    .nav_stripe {
        border-left: 5px solid #fff;
        height: 25%;
        bottom: 0rem;
        margin-left: -2px;               
    }

    .stripe_hero {
        @media (max-width: 991px) {
            margin-left: -2px;
            border-left: 3px solid #fff;
            height: 23%
        }

        @media (max-width: 736px) {
            border-left: 2px solid #fff;

        }

        @media (max-width: 575px) {
            border-left: 2px solid white;
            margin-left: -1px;
            height: 28%;
        }         
    }

    .nav_circle {
        color: #fff;
        width: 1.5rem;
        border: 0.25rem solid #fff;
        height: 1.5rem;
        bottom: 4rem;
        margin-left: -0.75rem;
        background: #fff;
        animation: breathing 7s ease-out infinite normal;
    }      
}

.reserve-cta {
    display: block;
    left: 1.75rem;

    a {
        display: inline-block;
        /*-webkit-text-fill-color: transparent;
        -webkit-background-clip:text*/
    }

    a:nth-child(2) {
        border-bottom: 2px solid;
        animation: eyecatcher 4s ease infinite;
    }

    @media (max-width: 575px) {
        width: 150px;

        a:nth-child(1) {
            font-size: 15px;
        }
    }    
}

a.logo {
    text-align: center;
    height: 100%;
    max-width: 650px;
    width: 100%;
    text-indent: -9999px;
    mask: url('#{$bg-svg-img-path}balloon_logo.svg') center no-repeat;
    backface-visibility: visible;
    background-color: white;
    display: block;
    margin: auto;
    animation: slideInDown 2s ease-out 0s 1;

    &:hover {
        background: -webkit-linear-gradient(top, #fbeacc 50%,#f2c9c9 100%);
        box-shadow: inset 0px 0px 165px 20px rgba(255,255,255,1);
    }
}

.nav_line {
    border-left: 5px solid white;
    height: 325vh;
    position: absolute;
    left: 50%;
    margin-left: -2px;
    top: 90%;
    animation: slideInDown_line 2.5s ease-out 0s 1;

    @media (max-width: 1199px) {
        animation: slideInDown_line-fix 1.95s ease-out 0s 1;
        top: 70%;
        height: 250vh;
    }

    @media (max-width: 991px) { 
        animation: slideInDown_line 2.1s ease-out 0s 1;
        top: 75%;
        height: 275vh;
    }

    @media (max-width: 736px) {
        animation: slideInDown_line 2.3s ease-out 0s 1;
        border-left: 3px solid white;
        height: 325vh;
        margin-left: -2px;
        top: 72%;
    }

    @media (max-width: 575px) {
        animation: slideInDown_line 2.0s ease-out 0s 1;
        border-left: 2px solid white;
        margin-left: -1px;
        height: 300vh;
    }

    @media (max-width: 375px) {
        animation: slideInDown_line 2.0s ease-out 0s 1;
        border-left: 3px solid white;
        margin-left: -2px;
        height: 325vh;
        top: 70%;
    }        

}

.box .blockquote {
    color: #fff;
    font-size: 2.25rem;
    display: flex;
    height: 100%;

    .quote {
        padding: 8px 0px;
        background-image: url('#{$bg-png-img-path}openquote.png');
        background-size: 12%;
        background-position: top left;
        background-repeat: no-repeat;
        text-indent: 5%;
    }

    span {
        display: block;
        background-image: url('#{$bg-png-img-path}closequote.png');
        background-size: 12%;
        background-repeat: no-repeat;
        background-position: bottom right;
        font-style: italic;
        padding: 8% 4%;
    }

    div {
        width: 100%;
    }

    div > p {
        right: 1.5rem;
        padding: 0;
        position: absolute;
        min-width: 85px;
    }
    @media (max-width: 991px) { 
        font-size: 1.5rem;
    }
    @media (max-width: 736px) {
        font-size: 1.3rem;
    }     
    @media (max-width: 575px) {
        font-size: 1rem;
    }
}

.card-right {
    background: url('#{$bg-svg-img-path}prompt_right.svg') no-repeat;

    @media (max-width: 575px) {
        background: url('#{$bg-svg-img-path}prompt_right_sm.svg') no-repeat;
    }    

    .flex-fix {
        width: 60%;
        margin-left: 5%;        
    }      
}

.card-left {
    background: url('#{$bg-svg-img-path}prompt_left.svg') no-repeat;

    @media (max-width: 575px) {
        background: url('#{$bg-svg-img-path}prompt_left_sm.svg') no-repeat;
    }

    .flex-fix {
        width: 80%;
        margin-right: 8%;        
    }
}

.container-box {
    max-width: 1920px;
}

.card-top {
    background: url('#{$bg-svg-img-path}prompt_top.svg') no-repeat;

    @media (max-width: 575px) {
        background: url('#{$bg-svg-img-path}prompt_top_sm.svg') no-repeat;
    }    

    display: flex;
    flex-direction: column;    

    // Fix for bug in Firefox that doesn't like %'s for top and bottom margin/padding (really annoying)
    .flex-fix {
        width: 40%;        
    }

    .flex-fix > img {
        padding-top: 20% !important;
        min-height: 100px;
    }
}

.card-video {
    border: solid 0.5rem white; 
    padding: 10% 4% 0% 4%;
    background: url('#{$bg-svg-img-path}prompt_video.svg') no-repeat;

    @media (max-width: 575px) {
        background: url('#{$bg-svg-img-path}prompt_video_sm.svg') no-repeat;
    }    

    display: flex;
    flex-direction: column;    

    // Fix for bug in Firefox that doesn't like %'s for top and bottom margin/padding (really annoying)
    video {
        border: solid 1px #b0b0b0;
        //outline: 2px solid red;
        //outline-offset: 15px;
    }

    @media (max-width: 991px) {
        padding: 9% 3% 1% 3%;
    }

    @media (max-width: 736px) {
        padding: 9% 3% 1% 3%;
    }

    @media (max-width: 575px) {
        padding: 8% 2% 2% 2%;
    }                
}

.margin-offset-top {
    margin-top: -7%;
}

.card {
    position: relative;   
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

    a {
        color: #fff;      
    }

    img {
        cursor: pointer;
        display: block;
        vertical-align: middle;
        position: relative;              
    }

    .flex-fix > img {
        margin: auto;
        padding-top: 10%;
        padding-bottom: 10%;
        
        @media (max-width: 575px) {
            padding-top: 20%;
            padding-bottom: 20%;
        }
    }
}

.circle_mark {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border: 0.25rem solid white;
    border-radius: 50%;
    background-color: $background-default-color;

    @media (max-width: 991px) {
        width: 1.5rem;
        height: 1.5rem;        
    }

    @media (max-width: 736px) {
        width:  1.25rem;
        height: 1.25rem;        
    }

    @media (max-width: 575px) {
        width: 1rem;
        height: 1rem;
        border: 0.15rem solid white;
    } 
}

.box1 {
    margin-top: 6rem;
}

.box1 .circle_mark {
    top: -1%;

    @media (max-width: 991px) {       
        top: -2%;
    }

    @media (max-width: 736px) {      
        top: -3%;
    }

    @media (max-width: 575px) {
        top: -2%;
    }     
}

.box2 .circle_mark {
    top: 61%;

    @media (max-width: 991px) {       
        top: 60%;
    }

    @media (max-width: 736px) {      
        top: 61%;
    }

    @media (max-width: 575px) {
        top: 60%;
    }     
}

.box3 .circle_mark {
    top: 40%;

    @media (max-width: 991px) {       
        top: 41%;
    }

    @media (max-width: 736px) {      
        top: 40%;
    }

    @media (max-width: 575px) {
        top: 40%;
    }     
}

.box4 .circle_mark {
    top: -1%;

    @media (max-width: 991px) {       
        top: -3%;
    }

    @media (max-width: 736px) {      
        top: -2%;
    }

    @media (max-width: 575px) {
        top: -3%;
    }     
}

hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: 0;
    border-top: 4px solid rgba(255, 255, 255, 0.1);
    margin-left: 5%;
    margin-right: 5%;
}

.base-hero {

    img {
        border: 4px solid;
        margin-bottom: 2rem;
    }

    h1 {
        border-top: 4px solid white;
        border-bottom: 8px solid white;
        margin: 3rem 20%;

        @media (max-width: 575px) {
            font-size: 2.5rem;
            font-weight: 300;
            line-height: 1.2;       
        }
    }       
}

.base-hero-top {
    border-bottom: 4px solid;
    padding-top: 8rem;
    background-image: linear-gradient(#122631 30%, rgba(18, 38, 49, 0) 100%);
    background-color: #122631;
    animation: gradientPulse-top 5s infinite ease;

    @media (max-width: 575px) {
       padding-top: 6rem;
    }
}

.base-hero-bottom {
    border-top: 4px solid;
    background-image: linear-gradient(rgba(18, 38, 49, 0) 0%, rgb(18, 38, 49) 30%);
    background-color: #122631;
    animation: gradientPulse-top 5s infinite ease;
    margin-top: 2rem;
    padding-bottom: 0rem;
    padding-top: 0rem;
    
    blockquote .blockquote-footer {
        padding-bottom: 0rem;
    }
}

.about {

    p {
        font-size: 1.5rem;
        margin-bottom: 0rem;        

        @media (max-width: 1199px) {
            font-size: 1.5rem;
        }        
        @media (max-width: 991px) {       
            font-size: 1.5rem;
        }
        @media (max-width: 736px) {      
            font-size: 1rem;
        }

        @media (max-width: 575px) {
            font-size: 1rem;
        }               
    }

    .row {
        border-top: 2px dashed rgba(255, 255, 255, 0.25);
        padding-top: 1rem;        
        margin-bottom: 1rem;
    }
    
    .justify-content-start {
        border-right: 3px solid rgba(255, 255, 255, 0.25);
    }

    .justify-content-end {
        border-left: 3px solid rgba(255, 255, 255, 0.25);
    }

    img {
        border-bottom: 3px solid white;
    }

    .thumbnail {
        position: relative;
        text-align: center;
        margin: auto;
    }

    .about-text {
        margin: auto;    
    }

    .caption {
        position: absolute;
        top: 15%;
        left: 0;
        width: 100%;

        @media (max-width: 1199px) {
            top: 10%;
        }

        @media (max-width: 991px) {       
            top: 8%;
        }

        @media (max-width: 736px) {      
            top: 8%;
        }

        @media (max-width: 575px) {
            top: 12%;
        }     
    }
}

.orders {
    margin-top: 8rem;
    .arrow-breadcrumb {
        margin-top: 2rem;
        margin-bottom: 4rem;

        button {
            margin: 0 1rem;        
        }

        .col-md-6 {
            padding-right: 0;
            padding-left: 0;
            margin: 0.5rem 0rem;
        }

        .btn-right {
            font-size: 20px;

            @media (max-width: 991px) {      
                font-size: 14px;
            }
        }

        .inactive_arrow {
            a {
                color: #868e96;               
            }            
        }

        .active_arrow {
            &::before,
            &::after {
                animation: pulse 5s infinite;
            }           
        }
    }

    .table td {
        vertical-align: middle;

        @media (max-width: 736px) {      

        }

        @media (max-width: 575px) {
            font-size: 12px;
            padding: 0.25rem;
        } 
    }

    .card {
        background-color: rgba(255, 255, 255, 0);
        
        .card-header {
            width: 100%;
            border-bottom: 2px solid #fff;
        }

        .card-body {
            label {
                p {
                    margin-left: 1rem;
                }
            }
        }
    }

    .button-bar {
        border-top: 2px solid #fff;
        align-items: normal;

        .btn-lg {
            max-width: 100% !important;
            text-indent: 0 !important;

            @media (max-width: 736px) {     
                font-size: 18px;
            }

            @media (max-width: 575px) {
                padding: 0.5rem;
                font-size: 12px;
            }             
        }


        .card-body {

            a {
                float: left;
                border: 2px solid #ced4da;
                border-radius: 0;

                &:hover {
                    color: #868e96;                        
                }

                span {
                    color: #fff;
                    background-color: #fff;
                    vertical-align: middle;

                    &:hover {
                        background-color: #868e96;
                        color: #868e96;                        
                    }
                }

                &:nth-child(1) {
                    transition: all 1s;

                    &:hover {
                        background: lighten($background-default-color,15%);
                    }

                    &:focus {
                        background: lighten($background-default-color,15%);
                        outline: 0;
                    }
                }

                &:nth-child(2) {
                    float: right;
                    border-radius: 0;
                    animation: pulse 5s infinite;
                }
            }
        }
    }      
}

.checkout {
    p {
        margin-top: 1rem;
    }

    .img-fluid {
        width: 100%;
            @media (max-width: 736px) {      
                width: 50%;
            }

            @media (max-width: 575px) {
                width: 50%;
            }        
    }
    .btn-break {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .btn-default, .btn-info, .btn-danger {
        transition: all 1s;
        border-radius: 0rem;
        border: 2px solid #fff;
        max-width: 100% !important;
        text-indent: 0 !important;

        &:hover {
            background: #275169;
            color: #868e96;
        }

        span {
            color: #fff;
            background-color: #fff;
            margin-right: 0.5rem;
            padding-left: 0.75rem;
        }
    }

    .card-body {
        padding: 0 1.25rem;
        width: 100%;

        table {
            border-bottom: 2px solid #fff;

            td p {
                margin-top: 0rem;
                margin-left: 1rem;
            }
        }
    }

    .form-inline {

        .form-group {
            margin-bottom: 1rem;
        }

        .input-stretch {
            width: 75%;

            input {
                width: 100%;
            }
        }

        label {
            justify-content: start;
            width: 7rem;
            margin-right: 1rem;
        }
    }

    .comment {
        border-bottom: 2px solid #fff;

        p {
            padding-bottom: 1rem;
            border-bottom: 1px solid #dee2e6;

            a {
                span {
                    background-color: white;
                    padding: 0rem 0.65rem;
                    vertical-align: middle;
                }
            }
            .span-right {
                float: right;
            }
        }

        textarea {
            margin-bottom: 1rem;
        }
    }

    .button-bar {

        .btn {
            span {
                margin-right: 0;
                padding-left: 0;                
            }
        }     

        .card-body {
            padding: 1.25rem;
        }
    }
}

.gj-calendar {
    z-index: 1060 !important;
}

.modal-content {
    background-color: #091319;
    border: 2px solid rgba(255, 255, 255, 0.98);

    .modal-header {
        button {
            color: #fff;
        }
    }

    .modal-body {
        .row {
            .col-md-6 {
                .gj-datepicker {
                    color: #fff;
                }
            }
        }
    }

    .modal-footer {
        button {
            color: white;
            background-color: $background-default-color;
            border-radius: 0;
            text-indent: 0;
            max-width: 100%; 
        }

        .btn-primary {
            background-color: #2d78a4;
        }
    }
}

footer {
    color: white;
    background-color: $background-default-color;
    position: relative;
    z-index: 10;
    padding-bottom: 5vh;

    .row {
        margin: 0;
    }

    .contact {
        font-size: 1.5rem;
        font-weight: 100;
        margin-top: 2rem;
        margin-bottom: 2rem;        
    }

    .social {
        margin-bottom: 0.5rem;

        a {
            padding: 0.5rem;
            margin: 0rem 0.55rem;
        }
    }
}